@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap');

/* Full sized container using full width of the viewport */

.full-container {
    margin: 0 auto;
    width: 100%
}


/*
    A little smaller container, adding a little padding 5% each side
    will be used for mobile screens
*/

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}


/* Changing the padding if the screen is tablet size */

@media only screen and (min-width:601px) {
    .container {
        width: 85%
    }
}


/* Changing the padding if the screen is a desktop */

@media only screen and (min-width:993px) {
    .container {
        width: 70%
    }
}


/* Setting up rows */

.container .row,
.full-container .row {
    margin-left: -.75rem;
    margin-right: -.75rem
}

.row {
    margin-left: auto;
    margin-right: auto
}

.row:after {
    content: "";
    display: table;
    clear: both
}


/*
    Setting up columns:
    These will be used to help set up custom sizing per screen size
    for the grid elements
*/

.row .col {
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
    float: left
}


/* Columns for use on mobile devices */

.row .col.sm-1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.sm-12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
}


/* Columns for use on devices bigger than mobiles, tablets usually */

@media only screen and (min-width:601px) {
    .row .col.md-1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.md-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
}


/* Columns for use on most desktop devices */

@media only screen and (min-width:993px) {
    .row .col.lg-1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.lg-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
}


/* Columns for use on larger screens, usually just very large desktop screens */

@media only screen and (min-width:1201px) {
    .row .col.xlg-1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xlg-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
}

.footer {
    width: 100%;
}


/* This is to ensure the font used throughout the html is Source Pro Sans */

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
}


/* Capitalize the first letter of every sentence throughout the document */

:first-letter {
    text-transform: uppercase;
}


/* I like my header texts with a smaller font weight: */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}


/* center, left and right align: */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-muted {
    color: grey;
}


/* Larger p element for "leading" text */

.lead {
    font-size: 1.2em;
}

.display-1 {
    font-size: 6rem;
    font-weight: 100;
    line-height: 1.2;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 100;
    line-height: 1.2;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 100;
    line-height: 1.2;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 1.2;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.2;
}

.display-6 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
}

.navbar {
    overflow: hidden;
}

.navbar-fixed-top {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.navbar-fixed-top .dropdown {
    position: fixed;
    z-index: 1001;
}

.navbar-fixed-bottom {
    position: fixed;
    z-index: 1500;
    width: 100%;
    bottom: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a.active {
    color: white;
}

.navbar a:hover {
    color: white;
}


/* Dont have hover color changes for the navbar brand */

.navbar-brand:hover {
    background: unset !important;
}


/* Navbar colour options */

.navbar-primary {
    background: #54a0ff;
}

.navbar-primary a.active,
.navbar-primary a:hover {
    background: #2e86de;
}

.navbar-secondary {
    background: #8395a7;
}

.navbar-secondary a.active,
.navbar-secondary a:hover {
    background: #576574;
}

.navbar-success {
    background: #1dd1a1;
}

.navbar-success a.active,
.navbar-success a:hover {
    background: #10ac84;
}

.navbar-danger {
    background: #ff6b6b;
}

.navbar-danger a.active,
.navbar-danger a:hover {
    background: #ee5253;
}

.navbar-warning {
    background: #feca57;
}

.navbar-warning a.active,
.navbar-warning a:hover {
    background: #ff9f43;
}

.navbar-info {
    background: #5f27cd;
}

.navbar-info a.active,
.navbar-info a:hover {
    background: #341f97;
}

.navbar-dark {
    background: #222f3e;
}

.navbar-dark a.active,
.navbar-dark a:hover {
    background: #141b24;
}


/* adding dropdown support for navbars */

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1000;
    margin-top: 3em;
    background: #222f3e;
    color: white;
}

.dropdown-content a {
    color: #cccccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Reset the hover animation, don't use the navbar theme */

.dropdown-content a:hover {
    background: unset;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: white;
}

.dropdown-content li {
    list-style: none;
    clear: both;
}

.btn {
    padding: 1rem 1.5rem;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    border-color: transparent;
    text-decoration: none;
}

.btn-rounded {
    border-radius: 30px;
}

.btn-link {
    background-color: transparent !important;
    color: inherit;
}

.btn-primary {
    background: #54a0ff;
    border: 0.5px solid #54a0ff;
}

.btn-primary:hover {
    background: #2e86de;
}

.btn-secondary {
    background: #8395a7;
}

.btn-secondary:hover {
    background: #576574;
}

.btn-success {
    background: #1dd1a1;
}

.btn-success:hover {
    background: #10ac84;
}

.btn-danger {
    background: #ff6b6b;
}

.btn-danger:hover {
    background: #ee5253;
}

.btn-warning {
    background: #feca57;
}

.btn-warning:hover {
    background: #ff9f43;
}

.btn-info {
    background: #5f27cd;
}

.btn-info:hover {
    background: #341f97;
}

.btn-dark {
    background: #222f3e;
}

.btn-dark:hover {
    background: #141b24;
}

button:disabled {
    opacity: .8;
    color: white;
    border: unset;
}

button:disabled,
button:disabled:hover {
    background: grey;
}


/* Responsive images */

.img-responsive {
    overflow: hidden;
}

.img-responsive img {
    width: 100%;
}


/* Profile image */

.img-rounded {
    border-radius: 50%;
}


/* Custom HR */

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid grey;
}


/* Custom padding classes */

.padding-1 {
    padding: 0 1em;
}

.padding-2 {
    padding: 0 2em;
}

.padding-3 {
    padding: 0 3em;
}

.card {
    box-shadow: 0;
    transition: 0.3s;
    width: 100%;
    margin: auto auto;
    text-align: center;
}

.card .card-body {
    padding: 4rem 2rem;
    background: white;
}

.card .card-body img {
    width: 100%;
}

.card-hover {
    transition: 0.3s;
}

.card-hover:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}


/* Set the initial opacity to zero so the modal is not shown */

.modal {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Position just below the loading animation */
    z-index: 1499;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* This will set the modal to visible */

.modal:target {
    opacity: 1;
    pointer-events: auto;
}


/* The actual modal - white box */

.modal .modal-inner {
    position: relative;
    width: 60vw;
    /* Don't want it to look too small */
    min-height: 20%;
    /* Don't let it flow past the bottom of the screen */
    max-height: calc(100vh - 30vh);
    background: white;
    border-radius: 5px;
    /* Push from the top to "center" it */
    top: 20vh;
    /* Center horizontally */
    margin: auto;
}


/* A simple header font and sizing for the modal */

.modal .modal-header {
    font-size: 1.2em;
    font-weight: 100;
    border-bottom: 0.5px solid lightgrey;
    /* Make this sort of like a "heading" on a modal */
    display: block;
    /* Expand it out to full width */
    width: 100%;
    padding: 0.5em 0;
}

.modal .modal-body {
    padding: 0.5em;
}


/* A close button to toggle the modal visibility */

.modal .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 2em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal .modal-close:hover {
    color: #000;
}